* {
    margin: 0;
    padding: 0;
}

header {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 75px;
    padding: 20px;
    background: #508991;
    padding-bottom: 20px;
    z-index: 999;
    /* This keeps it above everything */
}


header a {
    text-decoration: none;
}

.logo {
    background: url("/assets/images/MSC\ Vector\ Mask.svg") no-repeat;
    height: 100px;
    width: auto;
    background-size: 100px;
    font-family: "Figtree", 'Times New Roman', Times, serif;
    font-size: 48px;
    padding-left: 100px;
    color: #172a3a;


    text-shadow: 3px 3px black;
    transition: .3s;
}

.logo:hover {
    transform: translate(10px);
    color: #94c4cb;
}


nav {
    position: absolute;
    top: 0;
    right: 0;
    padding: 20px;
    padding-right: 50px;
    text-align: right;
}

nav a {
    display: inline-block;
    margin-left: 20px;
    font-family: "Roboto", 'Times New Roman', Times, serif;
    color: #172a3a;
    font-size: 26px;
    font-weight: bold;
    transition: .3s;
}

nav a:hover {
    color: #94c4cb;
    transform: scale(1.2);
}



#aboutMe {
    background-color: #75dddd;
    font-family: "Roboto", 'Times New Roman', Times, serif;
    font-size: 20px;
    padding: 20px;
    color: #172a3a;
    padding-top: 115px;
    #
}

#aboutMe {
    text-align: center;
    /* centres the whole section */
}

#aboutMe h2 {
    font-family: "Roboto", 'Times New Roman', Times, serif;
    font-size: 50px;
    color: #172a3a;
    padding: 20px;
}

.aboutImage,
.aboutText {
    display: inline-block;
    /* Makes the image and text sit side by side */
    vertical-align: top;
    /* And align at the top */
    text-align: left;
    /* Aligns the text */
    margin: 20px;
}

.aboutImage img {
    width: 40%;
    width: 300px;
    height: 200px;
    display: block;
    margin: 0 auto;
    border: 3px solid #172a3a;
    box-shadow: 4px 4px 0 #2f4e69;

}

.aboutText {
    width: 70%;
}

.aboutText p {
    font-family: "Roboto", 'Times New Roman', Times, serif;
    font-size: 20px;
    color: #172a3a;
    text-align: justify;
}

.aboutText strong {
    color: #2f4e69;
    font-size: 25px;
}

.aboutImage h3 {
    padding-top: 10px;
    text-align: center;
}

.projectBox {
    display: inline-block;
    /* This puts the projects side by side */
    width: 30%;
    height: 600px;
    /* Ensures boxes are the same size */
    min-width: 250px;
    vertical-align: top;
    margin: 20px;
    text-align: justify;
    /* Justifys the text so it looks nice */
    border: 3px solid #172a3a;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 10px;


}

.projectBox img {
    display: block;
    margin: 0 auto 15px auto;
    /* This centres the image on the page */
    width: 250px;
    /* THis make the image the same size */
    height: 250px;
    border: 2px solid #172a3a;
    box-shadow: 3px 3px 0 #2f4e69;
    ;

}

#projects {
    text-align: center;
    /* This centres the inline-block projectBlocks*/
    background-color: #318b8b;
    font-family: "Roboto", 'Times New Roman', Times, serif;
    font-size: 20px;
    color: #172a3a;
    padding: 20px;
}

#projects h2 {
    font-family: "Roboto", 'Times New Roman', Times, serif;
    font-size: 50px;
    color: #172a3a;
    padding-top: 20px;
}

.projectBox h3 {
    font-family: "Roboto", 'Times New Roman', Times, serif;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    color: #172a3a;
    padding-bottom: 20px;
}

.projectBox p {
    padding: 20px;
}

.myForm {
    width: 100%;
    display: block;
    font-family: "Roboto", 'Times New Roman', Times, serif;
    font-size: 20px;
    background-color: #75dddd;
    padding: 30px;
    box-sizing: border-box;
}

#formHeading {
    font-family: "Roboto", 'Times New Roman', Times, serif;
    font-size: 30px;
    color: #172a3a;
    text-align: center;
}

#formHeading,
#formRow1,
#formRow2,
#formRow3 {
    width: 100%;
    max-width: 1000px;
    margin: 20px auto;
    display: block;
    padding: 5px;
}




#formRow1 input {
    max-width: 200px;
    padding: 5px;
}

#myForm label,
#myForm input,
#myForm textarea {
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    color: #172a3a;
}

label[for="name"]::before {
    content: "🙋‍♀️ ";
}

label[for="phone"]::before {
    content: "☎️ ";
}

label[for="email"]::before {
    content: "📧 ";
}

label[for="message"]::before {
    content: "💭 ";
}

#leftCol,
#rightCol {
    display: inline-block;
    /* This puts them side by side */
    vertical-align: top;
    /* This will align the tops */
    width: 45%;
    padding: 10px;

}

#leftCol textarea {
    width: 100%;
    height: 125px;
}

.myForm button {
    display: inline-block;
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    background-color: #508991;
    color: #172a3a;
    font-weight: bold;
    padding: 10px;
    margin-left: 0;
    margin-top: 10px;
    border-radius: 10px;
    width: 150px;
    cursor: pointer;
}


footer {
    display: block;
    padding-top: 20px;
    background-color: #508991;
    color: #172a3a;
    height: 75px;
    width: 100%;
    font-family: "Figtree", 'Times New Roman', Times, serif;
    font-weight: bold;
    margin: 0 auto;
    text-align: center;

}



footer img {
    width: 50px;
    display: inline-block;
    vertical-align: middle;
    margin: 0 10px 0 0;
}